---
layout: default
subtitle: Expert in Data Science and Bioinformatics applied to biological datas
---

<div class="grid">
  <!-- <section>
    <img src="/assets/img/about.jpg" alt="me" width=40% height=40%/>
  </section> -->
  <section>
    <p>
      Curiosity is one of the best driving forces to progress in research and in life.
      Sometimes it leads to very different, but oh so exciting career choices!
    </p>
    <p>
      As an expert in data science applied to life sciences, I use bioinformatics, biostatistics and modelling methods to extract knowledge from complex data.

      Key skills in Data Science and Biostatistics:
      <ul>
        <li>Analysis of large datasets</li>
        <li>Development of statistical and predictive models (statistics, machine learning)</li>
        <li>Creation of reproducible and automated pipelines in Python, R and Bash</li>
        <li>Database management</li>
        <li>Creation of visualisations tailored to specific problems</li>
        <li>Use of HPC infrastructures (slurm, qsub)</li>
      </ul>
      
      My contributions include literature monitoring, project management, inter- and intra-team communication, organising training courses and conferences, field and laboratory work, modelling problems and solutions to them, team management, developing innovative analysis solutions, carrying out these analyses and promoting the results.
    </p>
    <p>
      My curiosity and passion for data science enable me to adapt quickly to a variety of themes and to come up with new ideas before putting them into practice. Whether you're interested in training, Data Science services or looking for a new colleague, don't hesitate to contact me!
    </p>
    <p>More informations: <a href="/experiences">Experiences</a></p>
  </section>
</div>

<div class="grid">
  <section>
    <h2>Expertise</h2>
    <img src="/assets/img/baniere_neutre.png" alt="me" width=100% height=100%/>
    <h3>Data Science</h3>
    <h5>Consulting</h5>
    <p>
      Experimental design - Improvements of analysis - Analysis - Teaching
    </p>
    <h5>Data Analysis & Visualisation</h5>
    <p>
      <ul>
        <li>Data mining (pandas, numpy, dplyr)</li>
        <li>Multivariate models</li>
        <li>Nonparametric models</li>
        <li>Parametric models</li>
        <li>Data modeling (AIC and BIC criterias)</li>
        <li>Random Forest</li>
        <li>Partial correlation</li>
        <li>Machine learning (scikit-learn)</li>
        <li>Deep learning (tensorflow)</li>
        <li>Visualization (seaborn, matplotlib, ggplot2)</li>
        <li>Image analysis (FIJI, ImageJ)</li>
        <li>Differential analysis (Bioconductor)</li>
        <li>Clustering (UMAP, t-SNE, heatmaps, MFA, PCA)</li>
        <li>Network visualisations (Gephi, Cytoscape, IGV)</li>
        <li>Database SQLite</li>
        <li>MultiOMIC analysis (see BioInformatics)</li>
      </ul>
    </p>

    <h3>BioInformatics</h3>
    <h5>multiOMICs</h5>
    <p>
      RNA-seq, scRNA-seq, Polysome profiling, Ribosome profiling, Alternative splicing, m6A-seq, Merip-seq, Chip-seq, Metabarcoding, Metatranscriptome
    </p>
    <h5>Data Analysis & Visualisation</h5>
    <p>
      <ul>
        <li>Quality of raw and filtered data (FastQC, multiQC, Cutadapt, Fastp, Sickle)</li>
        <li>Mapping on reference (genome or transcriptome; STAR, STARsolo, bowtie2)</li>
        <li>De novo assembling (without reference; Megahit)</li>
        <li>Counting (FeatureCounts, HTseq, home-made tool)</li>
        <li>Identification (SILVA, MIDORI, NCBI; Megablast, Blastx, DIAMOND)</li>
        <li>Statistical analysis (EdgeR, DESeq2, Limma, NOISeq, Seurat)</li>
        <li>Annotations (GO, KEGG, etc)</li>
        <li>GSEA</li>
        <li>Phylogenetic study (jmodelTest2, FastTree, RAxML, iTOL, ClustalX, MEGA)</li>
        <li>Motif search (HOMER, dipwmsearch)</li>
        <li>GEO data submission</li>
      </ul>
    </p>
    <p>
      Reproducibility of analysis ensured by using Gitlab or Github with <a href="https://snakemake.readthedocs.io/en/stable/" target="_blank">Snakemake</a>, a workflow tool for OMIC analysis and <a href="https://docs.conda.io/en/latest/" target="_blank">Conda</a> environments implementation.
    </p>

    <h3>Biology</h3>
    <ul>
      <li>Abiotic and biotic stresses</li>
      <li>Photosynthesis, Chlorophyll a fluorescence (PEA+)</li>
      <li>Plant development, fruit quality, plant defense</li>
      <li>Co-evolution with micro-organisms</li>
      <li>Metabolisms</li>
      <li>Senescence</li>
    </ul>
    <h3>Laboratory</h3>
    <ul>
      <li>Extraction and dosage of chemical compounds</li>
      <li>Volatil organic compounds (Shimadzu)</li>
      <li>Phytopathology</li>
      <li>Microscopy</li>
      <li>Chemistry: GC-MS, LC-MS, HPLC</li>
      <li>Molecular biology: RNA and DNA</li>
    </ul>
    <p>All my works: <a href="/projects">Projects</a></p>
  </section>
</div>

<div class="grid">
  <section>
    <h2>Latest Works</h2>

    <figure><img src="/assets/img/gem/journal.pcbi.1011522.g007.PNG" alt="ISHS" width=40% height=40%/></figure>
    <p>
      Chevalier C., Dorignac J., Ibrahim Y., Choquet A., David A., Ripoll J.,
      Rivals E., Geniet F., Walliser N.-O., Palmeri J., Parmeggiani A., Walter
      J.-C. 2023. Physical modeling of ribosomes along messenger
      RNA: Estimating kinetic parameters from ribosome profiling experiments
      using a ballistic model. PLoS Comput Biol 19(10): e1011522.
      <a href="https://doi.org/10.1371/journal.pcbi.1011522" target="_blank"
        >DOI</a>
    </p>

    <figure><img src="/assets/img/dipwm/dipwm_strat.png" alt="dipwm" width=70% height=70%/></figure>
    <p>
      Mille M., Ripoll J., Cazaux B., Rivals E. 2023. Dipwmsearch: a
      python package for searching di-PWM motifs. Bioinformatics 39(4).
      <a href="http://dx.doi.org/10.1093/bioinformatics/btad141" target="_blank"
        >DOI</a>
    </p>

    <p>All publications: <a href="/publications">Publications</a></p>
  </section>

  <!-- <section>
    <h2>Events</h2>
    <h3>YS2C congress</h3>
    <p>
      A big thank you to all the companies and participants who came to our
      convention! It was a scientifically enriching and friendly day. The 1st
      Young Scientist Cancer Congress (YS2C) : "New research strategies for
      cancer therapy – from bench to bedside"
    </p>
    <figure><img src="/assets/img/ys2c_photos.png" alt="YS2C" /></figure>
    <p>
      It was the October 5, 2023 – Toulouse France <br />
      More informations:
      <a href="https://www.crct-inserm.fr/en/ys2c_gso/1" target="_blank"
        >https://www.crct-inserm.fr/en/ys2c_gso/</a
      >
    </p>
    <h3>JOBIM congress</h3>
    <figure><img src="/assets/img/JOBIM_2023.png" alt="JOBIM" /></figure>
    <p>I was at the JOBIM 2023 conference, Nice</p>
  </section> -->
</div>

<section>
  <h2 id="contact">Contact</h2>
  <form id="contact-form">
    <label
      >Subject
      <input type="text" name="subject" id="subject" placeholder="Subject"
    /></label>
    <label
      >Content
      <textarea
        name="content"
        id="content"
        placeholder="Write something"
      ></textarea>
      <button type="submit">Submit</button>
    </label>
  </form>
  <script>
    const $content = document.getElementById("content");
    const $subject = document.getElementById("subject");

    document
      .getElementById("contact-form")
      .addEventListener("submit", function (event) {
        event.preventDefault();
        const content = $content.value;
        const subject = $subject.value;
        document.location.href =
          "mailto:julie.ripoll@protonmail.com?subject=" +
          encodeURIComponent(subject) +
          "&body=" +
          encodeURIComponent(content);
      });
  </script>
</section>
