---
layout: default
title: Projects
subtitle: Mosaic of projects
---

<div class="mosaic">
  <figure class="wide">
    <a href="/projects/thesis">
      <img src="/assets/img/thesis/tomato_small.jpg" />
      <figcaption>SFR TerSys Thesis</figcaption>
    </a>
  </figure>
  <figure>
    <a href="/projects/claranor">
      <img src="/assets/img/claranor/vine_small.jpg" />
      <figcaption>FUI UV boost</figcaption>
    </a>
  </figure>
  <figure class="tall">
    <a href="/projects/lactuca">
      <img src="/assets/img/lactuca/cut_day2_short.jpg" />
      <figcaption>Bonduelle Lactuca</figcaption>
    </a>
  </figure>
  <figure>
    <a href="/projects/translatome">
      <img src="/assets/img/translatome/log_plot.png" />
      <figcaption>COST Translacore</figcaption>
    </a>
  </figure>
  <figure>
    <a href="/projects/5fu">
      <img src="/assets/img/5fu/5fu_treat.png" />
      <figcaption>INCa FluoRib</figcaption>
    </a>
  </figure>
  <figure class="big">
    <a href="/projects/elaeidobius">
      <img src="/assets/img/elaeidobius/fleur_male_small.jpg" />
      <figcaption>CIRAD Elaeidobius</figcaption>
    </a>
  </figure>
  <figure>
    <a href="/projects/gem">
      <img src="/assets/img/gem/carole_model.png" />
      <figcaption>LabEx NUMEV GEM</figcaption>
    </a>
  </figure>
  <figure class="big">
    <a href="/projects/carioca">
      <img src="/assets/img/carioca/Co2_seeps_small.jpg" />
      <figcaption>ANR CARIOCA</figcaption>
    </a>
  </figure>
  <figure>
    <a href="/projects/fto">
      <img src="/assets/img/fto/FTO.png" />
      <figcaption>ScOre FTO</figcaption>
    </a>
  </figure>
  <figure>
    <a href="/projects/innoraisin">
      <img src="/assets/img/innoraisin/grappe.jpg" />
      <figcaption>CASDAR INNOHORT</figcaption>
    </a>
  </figure>
  <figure>
    <a href="/projects/dipwm">
      <img src="/assets/img/dipwm/dipwm_strat_mini.png" />
      <figcaption>Package dipwmsearch</figcaption>
    </a>
  </figure>
  <figure class="big">
    <a href="/projects/bioindic">
      <img src="/assets/img/bioindic/bioindic.jpg" />
      <figcaption>CNRT BioIndic</figcaption>
    </a>
  </figure>
  <figure>
    <a href="/projects/solanum-elaeagnifolium">
      <img
        src="/assets/img/solanum-elaeagnifolium/Solanum_elaeagnifolium.jpg"
      />
      <figcaption>EBCL S. elaeagnifolium</figcaption>
    </a>
  </figure>
</div>
