<header class="container-fluid">
  <div class="container">
    <hgroup data-theme="dark">
      <h1>
        {% if page.title %}{{ page.title | escape }}{% else %}{{ site.title }}{%
        endif %}
      </h1>
      <h2>{% if page.subtitle %}{{ page.subtitle | escape }}{% endif %}</h2>
    </hgroup>
    <nav class="menu">
      <ul>
        <li class="hamburger">
          <details role="list">
            <summary aria-haspopup="listbox" role="link">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                height="1em"
                viewBox="0 0 448 512"
              >
                <!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                <path
                  d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z"
                />
              </svg>
            </summary>
            <ul role="listbox">
              <aside>
                <li><a href="/">Home</a></li>
                <li><a href="/experiences">Experiences</a></li>
                <li><a href="/publications">Publications</a></li>
                <li>
                  <a href="/projects">Projects</a>
                  <ul>
                    {% for page in site.projects%}
                    <li><a href="{{page.url}}">{{page.title}}</a></li>
                    {% endfor %}
                  </ul>
                </li>
              </aside>
            </ul>
          </details>
        </li>
        <li><a href="/">Home</a></li>
        <li><a href="/experiences">Experiences</a></li>
        <li><a href="/publications">Publications</a></li>
        <li role="list">
          <a href="/projects" aria-haspopup="listbox">Projects</a>
          <ul role="listbox">
            {% for page in site.projects%}
            <li><a href="{{page.url}}">{{page.title}}</a></li>
            {% endfor %}
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</header>
