:root{
  --font-size: 1em;
  --typography-spacing-vertical: 1.15rem;
}

body > header {
  padding-bottom: 0;
}

body > footer {
    padding-top: 0;
}

.logo-small {
  height: 1em;
}

.center {
  justify-content: space-around;
}

.mosaic {
  display: grid;
  grid-gap: 0.5em;
  grid-auto-flow: row dense;
  grid-template-columns: repeat(3, 1fr);
  align-items: stretch;
  position: relative;
  margin-bottom: var(--block-spacing-vertical);
}

.mosaic.c2 {
  grid-template-columns: repeat(2, 1fr);
}

.mosaic figure {
  margin: 0;
  padding: 0;
  position: relative;
  display: flex;
  border-radius: 0.25em;
  transition: 0.5s ease-in-out 0s;
}

.mosaic figure a {
  display: flex;
}

.mosaic figure:hover figcaption {
  display: block;
}

.mosaic figure figcaption {
  display: none;
  position: absolute;
  background-color: rgba(17, 25, 31, 0.8);
  border-top-right-radius: 0.25em;
  bottom: 0;
  padding: var(--spacing);
  color: var(--color);
}

.mosaic img {
  border-radius: 0.25em;
  object-fit: cover;
}

.mosaic.debug img {
  object-fit: contain;
}

.mosaic .big {
  grid-row-end: span 2;
  grid-column-end: span 2;
}

.mosaic .wide {
  grid-column-end: span 2;
}

.mosaic .full {
  grid-column: 1 / -1;
}

.mosaic .tall {
  grid-row-end: span 2;
}

.mosaic .tall-3 {
  grid-row-end: span 3;
}

.logos img {
  height: 3em;
}

.logos ul {
  display: flex;
  align-items: center;
  margin-bottom: 0;
  padding: 0;
  list-style: none;
}

.logos ul li {
  display: inline-block;
  margin: 0;
  padding: var(--nav-element-spacing-vertical)
    var(--nav-element-spacing-horizontal);
}

.grid.dense {
  grid-template-columns: repeat(3, 1fr);
  grid-gap: var(--grid-spacing-horizontal);
}

.grid.dense article {
  margin: 0;
}

.hamburger details summary::after {
  display: none;
}

.menu > ul > li:not(.hamburger) {
  display: none;
}

@media (min-width: 576px) {
  .menu .hamburger {
    display: none;
  }

  .menu > ul > li:not(.hamburger) {
    display: initial;
  }
}

header {
  background-image: url("/assets/img/banier_small.jpg");
  background-size: cover;
}
