<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>
      {% if page.title %}{{ page.title | escape }}{% else %}{{ site.title |
      escape }}{% endif %}
    </title>
    <meta
      name="description"
      content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}"
    />

    <link
      rel="stylesheet"
      href="{{ '/assets/css/pico.min.css' | prepend: site.baseurl }}"
    />
    <link
      rel="stylesheet"
      href="{{ '/assets/css/style.css' | prepend: site.baseurl }}"
    />
    <link
      rel="canonical"
      href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}"
    />
    <link
      rel="alternate"
      type="application/rss+xml"
      title="{{ site.title }}"
      href="{{ '/feed.xml' | prepend: site.baseurl | prepend: site.url }}"
    />

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-176302398-1"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];

      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "UA-176302398-1");
    </script>
  </head>

  <body>
    {% include header.html %}
    <main class="container">{{ content }}</main>
    {% include footer.html %}
  </body>
</html>
